.headerSection {
  padding: 50px 0 20px;
}

.main {
  min-height: 400px;
}

.smallText {
  font-weight: 400;
  font-size: 10px;
}

.list_group_item {
  padding: 0.75rem 1.25rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list_group_item_action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list_group_item:hover,
.filterDiv {
  background-color: rgba(0, 0, 0, 0.03);
}

.list_group_item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.undo {
  bottom: 20px;
  position: fixed;
  z-index: 1000;
  right: 20px;
  background: #6abfc3;
  border-radius: 50%;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
  padding: 1em;
  cursor: pointer;
}
